*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.header{
    display: flex;
    background: transparent;
}
.logo{
    margin-right: 10px;
}
.logo img{
    margin:15px 0;
    width: 50px;
    height: 50px;
}
.name{
    margin-top: 20px;
    margin-left: 5px;
    padding-right: 250px;
    color: #ffff;
    font-size: 25px;
    font-weight: 700;
}
.navbar{
    /*margin-top: 45px;*/
    font-size: 18px;
}
.navbar ul{
    margin-top: -12px;
    font-size: 20px;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    padding-right: 20px;
    cursor: pointer;
    transition: .5s;
}
.navbar ul li .fa{
    padding-right: 5px;
}
.navbar ul li a:hover{
    background: #ffff;
    color: gray;
    border-radius: 4px;
    border-color: #fff;
    padding: 5px 10px;
}
.navbar ul li ul{
    position: absolute;
    background: gray;
    color: white;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
}
.navbar ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.navbar ul li ul li{
    display: block;
    width: 200px;
    transition: .5s;
    margin-bottom: 20px;
}
.navbar ul li ul li:hover{
    background: #ffff;
    color: gray;
    border-radius: 4px;
    padding: 5px 10px;
}
.navbar ul li ul li:last-child{
    margin-bottom: 0;
}
.navbar .bar{
    color: #fff;
    display: none;
}
.navbar .bar .fa{
    font-size: 22px;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
.navbar .bar:hover .fa:before{
    content: '\f00d';
}

/*.carousel{
    margin-top: -130px;
}*/
.carousel-inner{
    height: 850px;
    justify-content: center;
    align-items: center;
}
.carousel-inner img{
    height: 100vh;
}

.carousel-caption{
    margin-bottom: 300px;
}

#carouselExampleIndicators ol li{
    border-radius: 50%;
    height: 25px;
    margin-bottom: 150px;
}



.content{
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.content .images{
    height: 100%;
    width: 100%;
}
.images img{
    height: 700px;
    width: 100%;
}
.btn-sliders{
    position: absolute;
    bottom:  20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.btn-sliders span{
    height: 35px;
    width: 30px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}
.btn-sliders span:hover{
    background: white;
}
.content .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    border:  2px solid #fff;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}
.content .slide:hover{
    background: rgba(255, 255, 255, 0.2);
}
.slide span{
    font-size: 35px;
    color: white;
    line-height: 41px;
}
.content .right{
    right: 0;
}

.welcome{
    background: rgb(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    align-items: center;

}
.welcome h2{
    margin-left: 30%;
    color: gray;
    font-size: 30px;
}
.welcome p{
    text-align: justify;
}
.welcome-btn{
    margin-top: 10px;
    background: burlywood;
    color: #fffff;
    width: 80px;
    height: 20px;
    border: 1px solid burlywood;
    border-radius: 4px;
    padding: 5px;
}
.welcome-btn a{
    text-decoration: none;
    color: #ffff;
}



.awards{
    margin-top: 20px;
}
.awards h2{
    color: orange;
    text-align: center;
}
.awards-box{
    display: flex;
    margin-left: 30px;

}
.awards-title h3{
    padding: 10px 50px;
}

.winner{
    background: orange;
    width: 200px;
    padding-left: 10px;
    border-radius: 4px;
    margin-right: 50px;
}
.winner h3{
    color: #ffff;
    padding: 5px;
}
.winner .fa{
    color: #fff;
}


.events{
    margin-top: 30px;
    text-align: center;
}
.events h3{
    color: blue;
}
.events-btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.events-btn p a{
    background: rgb(248, 246, 239);
    border-radius: 4px;
    color: gray;
    padding: 10px;
}
.events-btn a{
    text-decoration: none;
    cursor: pointer;
}
.covid{
    text-align: center;
    color: rgb(53, 65, 82);
}
.covid .fa{
    padding-right: 10px;
}

.edu-blog{
    text-align: center;
    margin-top: 30px;
}
.edu-blog h3{
    color: blue;
}





















.blogs{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.blogs{
    margin-top: 40%;
}
.blog-head{
    text-align: center;
    text-transform: uppercase;
}
.blog-owl-carousel{
    margin-top: 20%;
}

.blog{
    display: inline-flex;
    overflow: hidden;
    position: relative;
    height: 100%;
    cursor: pointer;
    margin-left: 10%;
    padding-left: 50px;
    padding-top: 30px;
}

.blog img{
    width: 400px;
    height: 400px;
}
.blog-description{
    position: absolute;
    padding-left: 15px;
    bottom: -40px;
    background: #333333ca;
    width: 400px;
    transition: .3s linear;
}
.blog:hover .blog-description{
    bottom: 0;
}
.category{
    display: inline-block;
    color: #e77f67;
    font-size: 18px;
    position: relative;
    padding: 0 22px;
}
.category::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #e77f67;
    left: 0;
    top: 13px;
}
.category::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #e77f67;
    right: 0;
    top: 13px;
}
.title{
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
}

.date{
    font-style: italic;
    color: #e77f67;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    color: #e77f67;
    text-decoration: none;
    border: 2px solid #e77f67;
    padding: 6px 20px;
    opacity: 0;
    transition: .3s linear;
}
.blog:hover .btn{
    opacity: 1;

}
.btn:hover{
    color: #fff;
    background: #e77f67;
}
.owl-stage{
    display: flex !important;
}



.contact{
    margin-top: 10%;
}
.contact-head{
    text-align: center;
    font-style: italic;
}

.contact-box{
    background: rgb(247, 243, 243);
    width: 600px;
    height: 500px;
    margin-left: 25%;
    
}
.contact-msg{
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 3%;
}
.contact-msg p{
    padding-top: 10px;
}
.contact-input{
    display: block;
    width: 500px;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    font-size: 22px;
    margin-left: 3%;
    
}

.contact-input .input{
    display: inline-flex;
    padding: 10px 0;
    width: 240px;
}
.contact-input .area{
    width: 500px;
    height: 200px;
    margin-top: 5%;
}
.submit{
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    font-weight: 100;
}
.submit a{
    text-decoration: none;
    float: right;
    background-color: gray;
    color: white;
    width: 90px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-right: 10%;
    margin-top: -5%;
    padding: 10px;
}

.submit a:hover{
    background-color: #ffff;
    border: 1px solid gray;
    color:gray;
}

.time{
    margin-left: 20%;
    margin-top: 20px;
    position: absolute;
    transform: translate(-50%. -50%);
    color: gray;
    text-align: center;
}
.time h1{
    font-size: 60px;
    letter-spacing: 15px;
}
.time hr{
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid gray;
}
.time p{
    font-size: 20px;
    margin-bottom: 30px;
}
.end-box{
    margin-top:20%;
    background-color:gray;
    width: 100%;
    color: #fff;
    padding-top: 20px;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end h1{
    padding-top: 20px;
    text-transform: uppercase;
}
.logo-name{
    display: block;
}
.logo-name img{
    width: 50px;
    height: 50px;
}
.end .fa{
    padding-right: 10px;
}
.iconss{
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
    font-size: 18px;
}
.iconss a{
    color: #fff;
    padding-left: 30px;
}
footer{
    background: gray;
}
footer hr{
    
}

footer p{
    text-align: center;
    color: #ffff;
    font-size: 13px;
    padding: 30px 0;
}



@media (max-width: 780px){
    .header{
        display: flex;
    }
    .logo{
        margin-left: 30%;
    }
    .logo img{
        height: 50px;
        width: 50px;
    }
    .navbar{
        z-index: 1;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -580px;
        display: block;
    }
    .navbar ul li{
        z-index: -1;
        left: 50px;
        display: block;
        padding: 20px 0;
        top: -220px;
        position: fixed;
        display: inline-block;
        transition: top 0.4s;
    }
    .navbar ul li.show{
        top:-10px;
    }
    .navbar ul li ul {
        width: 100%;
    }
    .navbar ul li ul li{
        margin-left: -20px;
        padding: 10px 0;
    }
    .navbar .bar{
        display: block;
    }







    .time h1{
        font-size: 30px;
        letter-spacing: 7px;
    }
    .end-box{
        margin-top: 40%;
    }
    .carousel-caption{
        margin-top: -1500px;
    }
    #carouselExampleIndicators ol li{
        border-radius: 50%;
        height: 25px;
        margin-bottom: 200px;
    }
}